#homepage-intro * {
  color: gray;
}
#support-header {
  color: gray;
  font-weight: bold;
}
#support-body h3 {
  color: var(--purple);
}
/* the extremely specific selector is needed to override the `.container-fluid.bg-dark.footer` lego style */
div.container-fluid.bg-dark.footer {
  background-color: var(--dark) !important;
}

.portscan-input {
  display: inline !important;
  width: initial !important;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}
