{% include 'meta.html' %}
<div class="page">
  {% set locale = bag('alternatives', this.alt) %}
  <div class="container {{ locale.order }} {{ locale.direction }}">
    <div class="row flex-xl-nowrap {{ locale.order }} {{ locale.direction }}">
      <main role="main" class="container mx-auto col-12 {{ locale.order }} {{ locale.direction }}">
        <div id="homepage-intro" class="py-5">
          {% if this.intro %}{{ this.intro }}{% endif %}
        </div>
        {% if this.html %}{% include this.html %}{% endif %}
        <div class="container pt-5 hero {{ locale.order }} {{ locale.direction }}">
          <div id="support-body">
            {% block body %}{{ this.body }}{% endblock %}
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
{% include 'footer.html' %}
</body>
</html>
